.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.modal-form-container{
    color: white;
    position: fixed;
    border-radius: 8px;
    border: 1px solid;
    top: 50%;
    left: 50%;
    width: 35%;
    height: 90%;;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-transaction{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.input-required-error{
    font-weight: bold;
    font-size: small;
    color: #020202;
}
.input-group-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.input-group{
    font-size: larger;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.modal-toggle{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.modal-body{
    width: 100%;
    height: 100%;
}
.modal-header{
    font-size: medium;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.btn-close{
    color: white;
    background-color: transparent;
    width: 20%;
    height: 50%;
    border-radius: 8px;
    border-color: #9fee9f;
    cursor: pointer;
}
.modal-header-section{
    display: flex;
    width: 35%;
    justify-content: center;
}
.modal-header-button-section{
    display: flex;
    width: 34%;
    justify-content: flex-end;
}
.form-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.form-group{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.modal-body button{
    border-radius: 8px;
    color: white;
    background-color: #1e1e1e;
    width: 100px;
    height: 25px;
}
.modal-form-container input, select, textarea{
    border-radius: 8px;
    background-color: #1e1e1e;
    color: white;
    font-size: medium;
    text-align: center;
}
.modal-form-container input, select{
    width: 80%;
    height: 5vh;
}
.modal-form-container textarea{
    height: max-content;
    width: 80%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9fee9f;
    border-radius: 8px;
    transition: 0.4s;
}
.slider:before {
    position: absolute;
    content: "";
    border-radius: 8px;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}
input:checked + .slider {
    background-color: #fa2424;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
#toggleSwitch:checked + .modal-form-container {
    background-color: rgba(250, 36, 36, 0.62);
}

@media (prefers-color-scheme: light) {
    .modal-form-container{
        background-color: rgb(255, 255, 255);
        color: black;
    }
    .modal-toggle{
        color: white;
    }
    .input-group{
        color: white;
    }
    .input-group-col{
        color: white;
    }
    .modal-form-body button{
        color: black;
        background-color: #ffffff;
    }
    .modal-form-container input, select, textarea{
        border-radius: 8px;
        background-color: #ffffff;
        color: #020202;
    }
    .btn-close{
        color: black;
    }
}
@media only screen and (max-width: 600px)  {
    .form-group{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .form-body{
        height: max-content;
        display: flex;
    }
    .form-transaction{
        justify-content: space-evenly;

    }
    .modal-header{
        font-size: medium;
        text-align: center;
    }
    .modal-toggle{
        width: 100%;
    }
    .input-group{
        font-size: large;
        flex-direction: column;
    }
    .modal-form-container input, select{
        height: 3vh;
    }
    .modal-form-container{
        width: 90%;
        height: 90%;
    }
    .modal-form-container input, select, textarea{
    font-size: medium;
}
    .btn-close{
        width: 40%;
        height: 30%;
    }
}